# Dont want images from scripts
*.png

# Drone List
*override_drone_list*

# Temp data directory
tmp/


# Byte-compiled / optimized / DLL files
__pycache__/
analysis/__pycache__/
rfsoc/__pycache__/
*.pyc
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Version files
*_version.py
