# Drone List
*override_drone_list*

# Temporary/logging data directories
tmp/
log/

# Config files
system_config.yaml
analysis_config.yaml
drone_configs/

_version.py


# Byte-compiled / optimized / DLL files
__pycache__/
analysis/__pycache__/
rfsoc/__pycache__/
*.pyc
*.py[cod]
*$py.class
*.swp

# Distribution / packaging
.Python
build/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/
docs/api

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

